body{
    background:#89C4F4;
}

.card{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
    background-color: #F2F1EF;
}

.card-text {
    color: #1F4788;
    margin-top: 40px; 
    margin-bottom: 40px
}

.icon {
    font-size:48px; 
    color: #1F4788
}

.information {
    padding-left:200px;
    color: #1F4788
}

.title {
    padding-left:20px;
    color: #1F4788
}

/* .card:before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
} */

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#ffffff;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #1F4788 !important;
       color:#1F4788;
       height:60px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #1F4788 !important;
       color:#fff;
       height:60px;
       background-color:#1F4788;
}

.buttons button:nth-child(2){
       border:1px solid #1F4788 !important;
       background-color:#1F4788;
       color:#fff;
    height:60px;
}